.Sequence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;

  &.Active {
    .card {
      opacity: 0.25;
    }
  }

  .playingCards {
    display: flex;

    .table {
      display: flex;
      margin: 0;
    }
  }
}
