body {
  display: flex;
  width: 100%;

  #root {
    display: flex;
    width: 100%;
  }
}

.App {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);

  @media (max-width: 1024px) {
    font-size: 0.85em;
    .fa-3x {
      font-size: 2em !important;
    }
  }

  @media (max-width: 768px) {
    font-size: 0.7em;
    .fa-3x {
      font-size: 1em !important;
    }
  }

  .NameForm {
    display: flex;
    align-items: center;
    margin: auto 0;
    width: 50%;
    button {
      margin: auto 1em;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      button {
        width: 100%;
        margin-top: 1em;
      }
    }
  }

  .TopPanel {
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .Seat {
      margin: 0 2em;
      &.isEmpty {
        display: none;
      }

      @media (max-width: 1024px) {
        margin: 0 1em;
      }

      @media (max-width: 768px) {
        margin: 0 0.5em;
      }

      .SeatedPlayer {
        display: flex;
        flex-direction: column;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-style: italic;
        color: rgba(0, 0, 0, 0.75);

        .fas {
          margin-right: 0.5em;
        }

        .PlayerName {
          font-size: 2em;
          align-self: center;

          &.isPlaying {
            font-weight: 600;

            .Name {
              border-bottom: 5px solid rgba(0, 0, 0, 0.75);
            }
          }
          .fas {
            display: inline-block;
            color: white;
            font-size: 1em;
            top: 19px;
            left: 11px;
            border-radius: 2em;
            padding: 4px;
            background: white;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

            &.text-success {
              color: green;
              background-color: darkgreen;
            }
            &.text-primary {
              color: blue;
              background-color: darkblue;
            }
            &.text-danger {
              color: red;
              background-color: darkred;
            }
          }
        }
        .playingCards {
          font-size: 1em;
        }
      }
      .TakeSeatButton {
        margin: 1em;
        border-radius: 2em;
        width: 4em;
        height: 4em;

        &:disabled {
          pointer-events: none;
          opacity: 0.25;
        }
      }
    }
  }

  .MainPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;

    &.isActive {
      .Sequence {
        opacity: 1;
        pointer-events: auto;
      }
    }

    .Sequence {
      opacity: 0.25;
      pointer-events: none;
    }

    .StartButton {
      position: fixed;
      z-index: 99;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 2em;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
      background: linear-gradient(green, darkgreen);
      animation: pulsate 2s linear infinite;
      @keyframes pulsate {
        0% {
          color: #ddd;
          text-shadow: 0 -1px 0 #000;
        }
        50% {
          color: #fff;
          text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
        }
        100% {
          color: #ddd;
          text-shadow: 0 -1px 0 #000;
        }
      }
      &:active {
        color: #fff;
        text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
        box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0, 0, 0, 0.9);
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        -webkit-animation: none;
        animation: none;
      }
    }
  }

  .BottomPanel {
    display: flex;
    padding-bottom: 2em;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    width: 100%;
  }
}
